.wrapper{
  background-color: green;
  height: 100vh;
  display: flex;
  align-items: center;

}
.container{
  background-color: white;
  height: 500px;
  width: 500px;
  margin-left: 10%;
}
h1{
  height: 100px;
  width: 100%;
}
